* {
    margin: 0;
    padding: 0;
}


body {
    height: 100%;
    font-family: "Dosis", sans-serif;
    background: 
    url("https://i.postimg.cc/3r0r9h6g/jeremy-bishop-G9i-plbf-Dgk-unsplash.jpg") 0 55px;
    background-size: cover;
    background-position: absolute;
 
   
   
  }

  .hamburger-menu {
      width: 35px;
      height: 30px;
      position: fixed;
      top: 15px;
      right: 50px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }

  .line {
      width: 100%;
      height: 3px;
      background-color:	white;
      transition: all 0.8s;
  }

 .change .line-1 {
      transform: rotateZ(-405deg) translate(-8px, 6px);

  }
 .change .line-2 {
    opacity: 0;
    
}

 .change .line-3 {
    transform: rotateZ(405deg)  translate(-8px, -6px);
    
}

  .navbar {
      width: 300px;
      height: 100%;
      background-color: #021C23;
      position: fixed;
      top: 0;
      right: -300px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 60% 0 0 60%;
      transition: right .8s cubic-bezier(1, 0, 0, 1);
  }

  .change {
      right: 0;
  }

  .nav-list {
      text-align: right;
  }

  .nav-item {
      list-style: none;
      margin: 25px;
  }

   .nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 25px;
  }

 

.initial {
    font-family: 'Great Vibes', cursive;
    color: white;
    margin-left: 50px;
    padding-top: 8px;
    font-size: 190%;
}

.fronttext {
    position: absolute;
    margin-top: 100px;
    color: white;
    font-size: 450%;
    word-spacing: 10px;
}

.secondtext {
    position: absolute;
    margin-top: 220px;
    color: white;
    font-size: 250%;
}


.fbPortfolio {
    
        color: white;
        word-spacing: 30px;
        position: absolute;
        left: 0;
        margin-left: 30px;
        transform-origin: 0 0;
        transform: rotate(270deg);
        margin-top: 365px;
        
       
    
}

.linkPortfolio {
    position: absolute;
    left: 0;
    margin-left: 30px;
    transform-origin: 0 0;
    transform: rotate(270deg);
    margin-top: 320px;
    
   

}

.emailPortfolio {
    position: absolute;
    left: 0;
    margin-left: 30px;
    transform-origin: 0 0;
    transform: rotate(270deg);
    margin-top: 270px;
}

.mainimg {
    opacity: 0.8;

     width: 900px;
    height: 700px;
    margin-top: 25px;
    margin-right: 45px; 
}


.mypic {
    opacity: 0.9;
    width: 19%;
    height: 50%;
    left: 60%;
    margin-top: 110px; 
    position: absolute;
    border: 5px solid white;
    border-radius: 25px;
}

  
.mybkgrd {
    width: 1175px;
    height: 700px;
    margin-left: 100px;
    position:absolute;
}

.contain {
    position: relative;
}

.allthingstech {
    position: absolute;
    top: 300px;
    right: 1000px;
    width: 400px;
    height: 300px;
    border: 5px solid black;
}

.aboutheading {
    font-family: 'Handlee', cursive;
    position: absolute;
    top: 50px;
    color: black;
    right: 520px;
}

.anothermypic {
    position: absolute;
    top: 10px;
    right: 350px;
    width: 8%;
    border: 5px solid #031F25;
}

.allthingstext {
    font-family: 'Handlee', cursive;
    position: absolute;
    top: 245px;
    color: black;
    left: 220px;
}

.buildingvision {
    position: absolute;
    top: 300px;
    left: 800px;
    width: 350px;
    height: 300px;
    border: 5px solid black;
}

.lovebuildingvision {
    font-family: 'Handlee', cursive;
    position: absolute;
    top: 625px;
    color: black;
    right: 480px;
   
}


.contact {
    color: black;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: black;
}

.contact .content p {
   
    font-weight: 300;
    color: black;
}

.contactContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactContainer .contactInfo {
    width: 50%;
    display:flex;
    flex-direction: column;
}

.contactContainer .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactContainer .contactInfo .box .icon {
   min-width: 60px;
   height: 60px;
   background: #204A56;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 22px;
}


.contactContainer .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  flex-direction: column;
  font-weight: 300;
 }

 .contactContainer .contactInfo .box .text h3 {
    font-weight: 500;
    color: #204A56;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #204A56;

}

.contactForm h2 {
font-size: 30px;
color: white;
    
}

.contactForm .inputBox {
   position: relative;
   width: 100%;
   margin-top: 10px;
        
    }

    .contactForm .inputBox input,
    .contactForm .inputBox textarea {
       font-size: 16px;
        width: 100%;
       padding: 5px 0;
       margin: 10px 0;
       border: none;
       border-bottom: 2px solid #333;
        outline: none;
        resize: none;
             
         }

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}

.contactForm .inputBox input[type='submit']
{
    width: 100px;
    background: #262D30;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactImg {
    background-image: url('https://i.postimg.cc/SsZ5GHKK/augustine-wong-3-Om4-DHca-Ac0-unsplash.jpg');
    position: absolute;
    margin-left: 200px;

}


@media screen and (max-width: 900px) {
    .mypic {
       width: 50%;
    }
 }
 @media screen and (max-width: 700px) {
    .mypic {
       margin-top: 250px;
 
      margin-left: -280px;
       
    }
    
  .projContainer {
      padding-left: 100px;
      margin-top: 50px;
   
  }

  .projbkgrd {

  
      height: 20%;
      margin-right: -100px;
      float: none;
      padding-right: 300px;
  }

 

    .secondtext {
        margin-top: 650px;
        position: center;
       
    }
    .symbolsIndex {
       display: none;
        
        
    }

    .tinaProject {
        margin-right: -1000px;
        padding-right: 200px;
    }

  
    .projectSymbols {
       display: none;
    }

    .contain {
      position: relative;
    margin-right: -1050px;
        
    }
    .aboutSymbols {
        transform: rotate(270deg);
        margin-top: 350px;
    }

 .contactImg {
     margin-left: -100px;
     margin-right: 500px;
 }

    .contactForm {
        position: absolute;
        margin-top: 900px;
    }
   

    .contactSymbols {
        display:none;
    }
 }


 .gallery {
     font-family: 'Handlee', cursive;
     color: black;
     background-color: blue;
     position: absolute;
     width: 300px;
     height: 100px;
     border: 1px solid blue;
     border-radius: 10px;
     margin-left: 200px;
 
 }

 .tinaProject {
    font-family: 'Handlee', cursive;
    position: absolute;
    top: 150px;
    color: black;
    right: 570px;
}

.projContainer {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 90px;
    top: 200px;
}

.projContainer .projBox {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.projContainer .projBox .projIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #204A56;
    transition: 0.5s;
    z-index: 1;
}

.projContainer .projBox:hover .projIcon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.projContainer .projBox .projIcon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

.projContainer .projBox:hover .projIcon .fa {
   font-size: 40px;
}

.projContainer .projBox .projContent {
    position: absolute;
    top: 100%;
    height: calc(100% - 100%);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.projContainer .projBox:hover .projContent {
    top: 100px;
    opacity: 1;
}



.projContainer .projBox .projContent h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.projContainer .projBox .projContent p {
    margin: 0;
    padding: 0;
    color: #fff;
}

.projContainer .projBox:nth-child(1) .projIcon {
    background: #01242F;
}

.projContainer .projBox:nth-child(1) {
    background: #021117;
}

.projContainer .projBox:nth-child(2) .projIcon {
    background: #01242F;
}

.projContainer .projBox:nth-child(2)  {
    background: #021117;
}

.projContainer .projBox:nth-child(3) .projIcon {
    background: #01242F;
}

.projContainer .projBox:nth-child(3)  {
    background: #021117;
}



.projbkgrd {
    width: 1190px;
    height: 150%;
    margin-left: 100px;
    position:absolute;

}

 

 

 